{%extends 'base.html'%}

{%block body%}
<div class="container">
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="/booking"><img src="https://source.unsplash.com/1600x900/?hotel" class="d-block w-100" alt="..."></a>
              <div class="carousel-caption d-none d-md-block">
                <h5>Summer Savings Alert:</h5>
                <p>Don't miss out on our special offer!<br>
                    Book before June 30th<br>
                    and enjoy discounts upto 40%</p>
              </div>
            </div>
            <div class="carousel-item">
              <a href="/services"><img src="https://source.unsplash.com/1600x900/?gym" class="d-block w-100" alt="..."></a>
              <div class="carousel-caption d-none d-md-block">
                <h5>Loads of Facilities: </h5>
                <p>Gymnasium, spa, swimming pool and much more...</p>
              </div>
            </div>
            <div class="carousel-item">
              <a href="/places"></a><img src="https://source.unsplash.com/1600x900/?hills" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5> Where Nature's Majesty Meets Luxurious Comfort</h5>
                <p>Situated in the valley giving you mersemerizing view.</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
</div>
{%endblock body%}
